<p>questionaires-saved works!</p>

<div>
    <div>
        <h2>List of created Questionnaires</h2>
    </div>

    <div>
        <ng-container *ngIf="retrievedSurvey.length>0">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Survey Title</th>
                        <th>Date Created</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let survey of retrievedSurvey ;index as i">
                        <td>{{i+1}}</td>
                        <td>{{survey.surveyTitle}}</td>
                        <td>{{survey.dateCreated}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>

</div>
